@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================== */
/*               navbar1                 */
/* ===================================== */

.navbar {
    background: #FAFAFA;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid #E1E1E1;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


.Flex_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1 img {
    width: 25px;
    margin: 0 15px 0 30px;
}

.text1 p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: Bold;
    font-size: 15px;
    color: #000;
}

.text1 p a {
    color: #FC8A06;
    text-decoration: none;
    border-bottom: 1px solid #FC8A06;
}


.text2 {
    display: flex;
    gap: 1rem;
    padding-left: 120px;
}

.text2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000;
}


.text2 span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #FC8A06;
    color: #FC8A06;
}


.text3_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #028643;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


.text3_flex .order_text {
    color: #fff;
    padding: 20px 18px;
    font-family: "Poppins", sans-serif;
}


.text3_flex .order_icon img {
    width: 26px;
}


.text3_flex .order_icon {
    padding: 14px 14px;
}



/* ===================================== */
/*               navbar2                 */
/* ===================================== */

.navbar2 {
    background-color: transparent;
}

.navbar_container {
    max-width: 1242px;
    margin: 0 auto;
}


.navbar_flex {
    display: flex;
    align-items: center;
}

.navbar_flex2 {
    display: flex;
    align-items: center;
    gap: 35px;
    margin: 60px 0 60px 260px;

}

.navbar_flex2 p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.navbar_flex2 .navbar_btn1 {
    cursor: pointer;
    background-color: #FC8A06;
    color: #fff;
    font-family: "Poppins";
    border-radius: 40px;
    padding: 10px 25px;
    font-family: 18px;
    border: none;
}


.navbar_flex2 .navbar_btn2 {
    background: #03081F;
    border-radius: 30px;
    padding: 12px 34px;
    cursor: pointer;
}

.navbar_flex2 .navbar_btn2 a {
    color: #fff;
    font-family: "Poppins";
    font-size: 17px;
    text-decoration: none;
}







/* ===================================== */
/*               SECTION1                */
/* ===================================== */



.burger-container {
    max-width: 1300px;
    margin: 0 auto;
}

.burger-section {
    height: 500px;
    background-image: url("../assets/image/Group\ 23.png");
    background-position: 50% 88.46%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

}

.burger-flex {
    display: flex;
}

.burger-text {
    width: 60%;
    margin-left: 20px;
}

.burger-text .burger-p1 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-top: 180px;
}

.burger-text h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    padding: 10px 0 50px 0;
}



.burger-flex-p {
    display: flex;
    align-items: center;
    gap: 1.2rem;

}

.burger-flex-p p {
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 120px;
    padding: 18px 52px;
    cursor: pointer;
}

.burger-img img {
    width: 550px;
    margin-top: 80px;
    margin-right: 40px;
}






/* ===================================== */
/*               SECTION2                */
/* ===================================== */


.from-container {
    max-width: 1200px;
    margin: 50px auto;
}


.from-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.from-text p {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.from-input input {
    width: 344px;
    height: 63px;
    border-radius: 120px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #03081F;
    color: #03081F;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
}



/* ===================================== */
/*               SECTION3                */
/* ===================================== */


.menu-section {
    background: #FC8A06;
    height: 100px;
}

.menu-container {
    max-width: 1300px;
    margin: 0 auto;
}

.menu-text {
    padding-top: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-text p {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 21px;
    color: #fff;
}

.menu-text p span {
    cursor: pointer;
    background: #03081F;
    border-radius: 60px;
    padding: 3px 20px;
}



/* ===================================== */
/*               SECTION4                */
/* ===================================== */


.vegan-container {
    max-width: 1300px;
    margin: 100px auto;
}


.vegan-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}


.vegan-text1 {
    background-image: url(../assets/image/Group\ 8.png);
    height: 325px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}


.vegan-text2 {
    background-image: url(../assets/image/Group\ 8\ \(1\).png);
    height: 325px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}


.vegan-text3 {
    background-image: url(../assets/image/Group\ 8\ \(2\).png);
    height: 325px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}


.vegan-text p {
    padding-top: 238px;
    padding-left: 30px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    color: #FC8A06;
}


.vegan-text h1 {
    padding-left: 30px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}