@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================== */
/*               navbar1                 */
/* ===================================== */

.navbar {
    background: #FAFAFA;
    max-width: 1460px;
    margin: 0 auto;
    border: 1px solid #E1E1E1;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


.Flex_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1 img {
    width: 25px;
    margin: 0 15px 0 30px;
}

.text1 p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: Bold;
    font-size: 15px;
    color: #000;
}

.text1 p a {
    color: #FC8A06;
    text-decoration: none;
    border-bottom: 1px solid #FC8A06;
}


.text2 {
    display: flex;
    gap: 1rem;
    padding-left: 120px;
}

.text2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000;
}


.text2 span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #FC8A06;
    color: #FC8A06;
}


.text3_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #028643;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


.text3_flex .order_text {
    color: #fff;
    padding: 20px 18px;
    font-family: "Poppins", sans-serif;
}


.text3_flex .order_icon img {
    width: 26px;
}


.text3_flex .order_icon {
    padding: 14px 14px;
}



/* ===================================== */
/*               navbar2                 */
/* ===================================== */

.navbar2 {
    background-color: transparent;
}

.navbar_container {
    max-width: 1400px;
    margin: 0 auto;
}


.navbar_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_flex2 {
    display: flex;
    align-items: center;
    gap: 35px;
    margin: 40px 0;

}

.navbar_flex2 p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    color: #000;
}


.menu-icon {
    display: none;
}

.navbar_flex2 .navbar_btn1 {
    cursor: pointer;
    background-color: #FC8A06;
    color: #fff;
    font-family: "Poppins";
    border-radius: 40px;
    padding: 10px 25px;
    font-family: 18px;
    border: none;
}


.navbar_flex2 .navbar_btn2 {
    background: #03081F;
    border-radius: 30px;
    padding: 12px 34px;
    cursor: pointer;
}

.navbar_flex2 .navbar_btn2 a {
    color: #fff;
    font-family: "Poppins";
    font-size: 17px;
    text-decoration: none;
}







/* ===================================== */
/*               SECTION1                */
/* ===================================== */



.burger-container {
    max-width: 1460px;
    margin: 0 auto;
}

.burger-section {
    height: 500px;
    background-image: url("./assets/image/Group\ 23\ \(5\).png");
    background-position: 50% 88.46%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

}

.burger-flex {
    display: flex;
}

.burger-text {
    width: 60%;
    margin-left: 20px;
}

.burger-text .burger-p1 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-top: 180px;
}

.burger-text h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    padding: 10px 0 50px 0;
}



.burger-flex-p {
    display: flex;
    align-items: center;
    gap: 1.2rem;

}

.burger-flex-p p {
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 120px;
    padding: 18px 52px;
    cursor: pointer;
    background-color: transparent;
}

.burger-img img {
    width: 550px;
    margin-top: 80px;
    margin-right: 40px;
}








.burgers-card1,
.burgers-card2,
.burgers-card3,
.burgers-card4,
.burgers-card5,
.burgers-card6 {
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}


.burgers-text span {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    color: #000;
}


.burgesr-text {
    padding-top: 200px;
}

.burgers-text p {
    padding-top: 20px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.burgers-text h5 {
    padding-top: 20px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px;
    color: #000;
}


.burgers-img img {
    margin-top: 10px;
    width: 180px;
}




/* ===================================== */
/*               SECTION2                */
/* ===================================== */


.burgers-container {
    max-width: 1460px;
    margin: 0 auto;
}

.burgers-container .Fries {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 44px;
    color: #FC8A06;
    padding: 95px 0 40px 0;
}

.burgers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.burgers-card {
    display: flex;
    width: 470px;
    background-color: #fdfdfd;
    height: 245px;
    padding: 25px;
    border-radius: 10px;
    gap: 6px;

}

.burgers-card1,
.burgers-card2,
.burgers-card3,
.burgers-card4,
.burgers-card5,
.burgers-card6 {
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}


.burgers-text span {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    color: #000;
}


.burgesr-text {
    padding-top: 200px;
}

.burgers-text p {
    padding-top: 20px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.burgers-text h5 {
    padding-top: 20px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px;
    color: #000;
}


.burgers-img img {
    margin-top: 10px;
    width: 180px;
}



/* ===================================== */
/*               SECTION3                */
/* ===================================== */


.information-container {
    max-width: 1460px;
    margin: 160px auto;
    background: #FAFAFA;
    box-shadow: 5px 1px 23px 4px rgba(0, 0, 0, 0.1);

}

.information-flex {
    display: flex;
    justify-content: space-between;
}

.information-icon1,
.information-icon2,
.information-icon3 {
    display: flex;
    gap: 1rem;
    margin-bottom: 30px;
}

.information-icon1 h1,
.information-icon2 h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    color: #03081F;
}



.information-text1 p span {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px;
    color: #03081F;
}



.information-text2 h5 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px;
    color: #03081F;
    margin-top: 20px;
}


.information-text1 p,
.information-text2 p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 17px;
    color: #03081F;
    padding-top: 20px;
}


.information-text3 {
    color: #fff;
    background-color: #03081F;
    padding: 100px 0;
    padding: 100px 60px;
}

.information-text3 p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    padding-top: 20px;
}

.information-text3 p span {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px;
    color: #fff;

}

.information-icon3 h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.information-text1,
.information-text2 {
    padding-top: 100px;
    padding-left: 50px;
}



/* ===================================== */
/*               SECTION4                */
/* ===================================== */

.location-container {
    max-width: 1460px;
    margin: 70px auto;
    height: 700px;
    background-image: url("../assets/image/Rectangle\ 52.png");
    background-position: 50% 88.46%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding-top: 75px;
    padding-left: 130px;
}

.location-card {
    background-color: #03081F;
    width: fit-content;
    padding: 80px 50px;
    border-radius: 16px;
}



.location-text h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.location-text h4 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 22px;
    color: #FC8A06;
    padding-top: 5px;
}

.location-text p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    padding: 28px 0;
}


.location-text span {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
}


.location-text h3 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 24px;
    color: #FC8A06;
}





/* ===================================== */
/*               SECTION5               */
/* ===================================== */


.comment-section {
    background: #D9D9D9;
}

.comment-container {
    max-width: 1460px;
    margin: 100px auto;
    padding: 70px 0;
}


.comment-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


.comment-card {
    background-color: #fff;
    padding: 0 21px;
    border-radius: 6px;
}

.comment-flex {
    display: flex;
    padding-top: 40px;
    gap: 10px;
}

.comment-flex .comment-p {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    color: #03081F;
    border-left: 2px solid #FC8A06;
    padding-left: 12px;
    margin-left: 8px;
}



.september-p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    color: #03081F;
    padding-top: 10px;
}


.september {
    padding-left: 50px;
    text-align: right;
}

.friendly {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    color: #03081F;
    padding-top: 40px;
    padding-bottom: 27px;
}



.customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.customer h1 {
    color: #000;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 40px;
}



/* ===================================== */
/*               SECTION6               */
/* ===================================== */

.restaurants-container {
    max-width: 1480px;
    margin: 0 auto;
}


.restaurants-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurants-container h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 30px;
}





/* ===================================== */
/*              FOOTER                   */
/* ===================================== */


footer {
    background: #ebebeb;
}

.footer-top {
    max-width: 1400px;
    margin: 70px auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}



.logo img {
    width: 220px;
}

.logo .badge {
    background: #000;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 4px;
}

.company-info {
    font-size: 12px;
    color: #000;
    padding-top: 40px;
    line-height: 1.6;
    font-family: "Poppins";
}



.col-newsletter {
    margin: 10px 60px;
}

.col-newsletter h4 {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: "Poppins";
}

.subscribe-row {
    display: flex;
    margin-bottom: 10px;
}

.subscribe-row input {
    padding: 10px 14px;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    outline: none;
    background: #D9D9D9;
}

.subscribe-row button {
    background: #f5820a;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.spam-note {
    font-size: 11px;
    color: #000;
    margin-bottom: 30px;
    font-family: "Poppins";

}


.spam-note a {
    color: #333;
    text-decoration: underline;
}


.social-icons {
    display: flex;
    gap: 10px;
}



.icon-slot img {
    width: 35px;
}



.col-links h4 {
    font-size: 20px;
    margin-bottom: 14px;
    font-family: "Poppins";
}

.col-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-links a {
    font-size: 15px;
    color: #000;
    font-family: "Poppins";
}

.footer-bottom {
    background: #0d1224;
    color: #fff;
    padding: 14px 20px;
}

.footer-bottom-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 11px;
}

.footer-bottom-links {
    display: flex;
    gap: 20px;
}

.footer-bottom-links a {
    color: #fff;
    text-decoration: none;
}


















@media screen and (max-width:768px) {
    .navbar {
        display: none;
    }

    .navbar_flex2 {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-left: 90px;
    }

    .navbar_logo a img {
        width: 200px;
    }

    .navbar_flex {
        height: 100px;
        margin-left: 20px;
    }

    .menu-icon img {
        width: 50px;
    }


    .burger-section {
        height: 350px;
    }


    .burger-text {
        display: none;
    }


    .burger-img img {
        width: 300px;
        margin-left: 40px;
    }


    .from-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    .from-text p {
        text-align: center;
    }

    .from-input input {
        margin-left: 25px;
        margin-top: 20px;
    }

    .menu-section {
        height: 670px;
    }

    .menu-text {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .menu-text p {
        padding-top: 8px;
        font-size: 30px;
    }



    .vegan-container {
        max-width: 1460px;
        margin: 100px auto;
    }



    .vegan-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .container2 {
        grid-template-columns: 1fr;
    }
}